<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efa.wearflashcards">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.FlashcardProvider"
            android:authorities="com.efa.wearflashcards.app"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="FlashcardProvider" />

        <activity
            android:name=".NewSet"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name=".NewSet" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewCard"
            android:label="@string/app_name"
            android:parentActivityName=".SetOverview"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name=".NewCard" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetOverview"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name=".SetOverview" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".WearableService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- Listeners receive events that match the action and data filters -->
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
    </application>

</manifest>
